div{
			
			background-color:#e6e6e6; 
			border-radius: 10px; 
			width: 450px;
			height: 250px;
			text-align: left;
			padding-left: 12px;
		}
		center{
						padding-top: 100px;

		}
		body{
			background-color: #f2f2f2;;
		}